{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
    <h1>{% trans "Название:" %} {{ post.title }}</h1>
    <h6>{{ post.get_news_article_display }}</h6>
    <h2>{% trans "Дата публикации:" %} {{ post.time_in|date:'M d Y' }}</h2>
    <h3>{% trans "Автор:" %} {{ post.author }}</h3>
    <h5>{% trans "Рейтинг поста:" %} {{ post.rating_post }}</h5>
    <h4>{% trans "Категории:" %}</h4>
    <ul>
        {% for category in post.category.all %}
            <li>{{ category.cat_name }}</li>
        {% empty %}
            <li>{% trans "Нет категорий" %}</li>
        {% endfor %}
    </ul>

    <hr>
    <h3>{{ post.text }}</h3>
{% endblock content %}
