{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
    <h1>{% trans "Title:" %} {{ post.title }}</h1>
    <h2>{% trans "Date of publication:" %} {{ post.time_in|date:'M d Y' }}</h2>
    <h3>{% trans "Author:" %} {{ post.author }}</h3>
    <h5>{% trans "Post rating:" %} {{ post.rating_post }}</h5>
    <h4>{% trans "Categories:" %}</h4>
    <ul>
        {% for category in post.category.all %}
            <li>{{ category.cat_name }}</li>
        {% empty %}
            <li>{% trans "There are no categories" %}</li>
        {% endfor %}
    </ul>

    <hr>
    <h3>{{ post.text }}</h3>
{% endblock content %}
