{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{% trans "Posts" %}
{% endblock title %}

{% block content %}
   <h1>{% trans "All posts" %}</h1>
   <a href="http://127.0.0.1:8000/news/search">{% trans "Find an post" %}</a>
   <h3>{% trans "Posts on the page:" %} {{ posts|length }}</h3>
   <hr>
   {% if perms.news.add_post %}
   <a href="http://127.0.0.1:8000/news/create/">{% trans "Add a news item" %}</a>
   <br>
   <a href="http://127.0.0.1:8000/articles/create/">{% trans "Add an article" %}</a>
   <hr>
   {% endif %}
   {% if posts %}
       <table>
           <tr>
               <td>{% trans "Heading" %}</td>
               <td></td>
               <td>{% trans "Date of publication" %}</td>
               <td></td>
               <td>{% trans "Preview" %}</td>
               <td></td>
               <td>{% trans "Author" %}</td>
               <td></td>
               <td>{% trans "Action" %}</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td></td>
               <td>{{ post.time_in|date:'M j, Y H:i' }}</td>
               <td></td>
               <td>{{ post.text|truncatewords:20 }}</td>
               <td></td>
               <td>{{ post.author }}</td>
               <td></td>
               <td><a href="http://127.0.0.1:8000/news/{{ post.id }}">{% trans "Browse" %}</a> </td>
               <td></td>
               {% if user.is_superuser %}
               <td><a href="http://127.0.0.1:8000/news/{{ post.id }}/edit">{% trans "Change" %}</a></td>
               {% endif %}
               <td></td>
               {% if perms.news.delete_post and post.author.user_id == user.id or user.is_superuser %}
               <td><a href="http://127.0.0.1:8000/news/{{ post.id }}/delete">{% trans "Delete" %}</a></td>
               {% endif %}
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>{% trans "There are no posts!" %}</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}